### Pandas 套件最主要的貢獻是什麼？

#### 提供快速高效的資料結構(DataFrame, Series)，亦對現有的資料格式有不錯的銜接性。

### 根據提供的資料集，印出他們的屬性分別為何？
（屬性：shape、size、values、index、columns、dtypes、len）

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/MachineLearningLiuMing/scikit-learn-primer-guide/master/Data.csv')
display(df)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [3]:
print(df.shape,df.size,df.values,df.index,df.columns,df.dtypes,len(df),sep='\n'*3)
# shape、size、values、index、columns、dtypes、len

(10, 4)


40


[['France' 44.0 72000.0 'No']
 ['Spain' 27.0 48000.0 'Yes']
 ['Germany' 30.0 54000.0 'No']
 ['Spain' 38.0 61000.0 'No']
 ['Germany' 40.0 nan 'Yes']
 ['France' 35.0 58000.0 'Yes']
 ['Spain' nan 52000.0 'No']
 ['France' 48.0 79000.0 'Yes']
 ['Germany' 50.0 83000.0 'No']
 ['France' 37.0 67000.0 'Yes']]


RangeIndex(start=0, stop=10, step=1)


Index(['Country', 'Age', 'Salary', 'Purchased'], dtype='object')


Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object


10