In [1]:
import numpy as np
import pandas as pd

### 練習建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

In [2]:
labels=['Apples','Bananas']
index=['2017 sales','2018 sales']

df_A=pd.DataFrame([[30,21]],columns=labels)
df_B=pd.DataFrame([[35,21],[41,34]],index=index,columns=labels)
print(df_A,df_B,sep='\n'*2)

   Apples  Bananas
0      30       21

            Apples  Bananas
2017 sales      35       21
2018 sales      41       34

### 如果現在有一個 DataFrame 如下，同一資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

In [3]:
#dictionary
data={'city':['Austin','Dallas','Austin','Dallas'],
      'vistor':[139,237,326,456],
      'weekday':['Sun','Sun','Mon','Mon']}

print(pd.DataFrame(data))

     city  vistor weekday
0  Austin     139     Sun
1  Dallas     237     Sun
2  Austin     326     Mon
3  Dallas     456     Mon

### 每個 weekday 的平均 visitor 數量

In [4]:
df=pd.DataFrame(data)

for i in set(df['weekday']):
    print(i,df[df['weekday']==i]['vistor'].mean())

#單行敘述
print('\n'.join([' '.join([i,str(df[df['weekday']==i]['vistor'].mean())]) for i in set(df['weekday'])]))

Mon 391.0
Sun 188.0
Mon 391.0
Sun 188.0