### 下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```

##### 回傳A欄中索引為 2013-01-01 的值
##### 回傳A欄與B欄中索引為 2013-01-01 的值
##### 回傳A欄中索引為2013-01-01 到 2013-01-02的值
##### 回傳A欄到C欄中索引為2013-01-01 到 2013-01-05的值

In [1]:
import numpy as np
import pandas as pd

### 根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

In [2]:
df = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
print(df)

       col1      col2      col3
0 -0.372579  1.150342 -0.328455
1  0.489983 -0.394948 -0.705748
2 -0.663119 -2.203520  0.185443
3  0.779537  0.228570 -0.361016
4 -1.131221  2.479813  1.027825
5 -0.491334  1.150000 -2.228940

In [3]:
# - select the first 3 rows.
print(df.iloc[:3])

# - select the odd rows. (index = 1, 3, 5)
print(df.iloc[1::2])

# - select the last 2 columns.
print(df.iloc[-2:])

# - select the even columns. (index = 0, 2, 4)
print(df.iloc[::2])

       col1      col2      col3
0 -0.372579  1.150342 -0.328455
1  0.489983 -0.394948 -0.705748
2 -0.663119 -2.203520  0.185443
       col1      col2      col3
1  0.489983 -0.394948 -0.705748
3  0.779537  0.228570 -0.361016
5 -0.491334  1.150000 -2.228940
       col1      col2      col3
4 -1.131221  2.479813  1.027825
5 -0.491334  1.150000 -2.228940
       col1      col2      col3
0 -0.372579  1.150342 -0.328455
2 -0.663119 -2.203520  0.185443
4 -1.131221  2.479813  1.027825

### 根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

In [4]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
print(df)

     0   1   2   3
0   14  14  34  16
1   15  32  33  25
2   39  14  37  28
3   27  20  31  28
4   28  13  38  19
5   37  39  39  29
6   17  26  20  38
7   12  27  36  11
8   31  11  14  15
9   24  23  20  35
10  10  38  35  25
11  12  33  36  39
12  10  24  28  22
13  16  18  38  39
14  23  19  35  28

In [5]:
# - 1. filtered by first column > 20?
print(df[df[0]>20])

# - 2. filtered by first column + second column > 50
print(df[(df[0]+df[1])>50])

# - 3. filtered by first column < 30 or second column > 30
print(df[(df[0]<30) & (df[1]>30)])

# - 4. filtered by total sum of row > 100
print(df[df.sum(axis=1)>100])

     0   1   2   3
2   39  14  37  28
3   27  20  31  28
4   28  13  38  19
5   37  39  39  29
8   31  11  14  15
9   24  23  20  35
14  23  19  35  28
    0   1   2   3
2  39  14  37  28
5  37  39  39  29
     0   1   2   3
1   15  32  33  25
10  10  38  35  25
11  12  33  36  39
     0   1   2   3
1   15  32  33  25
2   39  14  37  28
3   27  20  31  28
5   37  39  39  29
6   17  26  20  38
9   24  23  20  35
10  10  38  35  25
11  12  33  36  39
13  16  18  38  39
14  23  19  35  28