### 練習完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [3]:
print('計算每個不同種類 animal 的 age 的平均數')
for i in set(df['animal']):
    print(f'{i}\'s average age is',df[df['animal']==i]['age'].mean())

print('\n將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序')
print(df.sort_values(by=['age','visits'],ascending=[True,False]))

print('\n將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False')
df['priority'].replace({'yes':True, 'no':False},inplace = True)
print(df)

計算每個不同種類 animal 的 age 的平均數
cat's average age is 2.5
dog's average age is 5.0
snake's average age is 2.5

將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes

將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  2.0       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

### 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [4]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
print(df)

          0         1         2
0  0.366289  0.189234  0.799367
1  0.293050  0.338361  0.892824
2  0.323413  0.008055  0.037459
3  0.724069  0.389815  0.483044
4  0.702950  0.340001  0.651371

In [5]:
#  該欄位的平均數
for i in df.columns[:]:
    print(f'column{i}\'s average is {df[i].mean()}')

column0's average is 0.48195428471604984
column1's average is 0.2530931519604994
column2's average is 0.5728132094856597

In [6]:
#  該筆資料平均數
for i in df.index[:]:
    print(f'index{i}\'s average is {df.loc[i].mean()}')

index0's average is 0.45162999027637324
index1's average is 0.5080784281560207
index2's average is 0.12297582774810827
index3's average is 0.5323093227178352
index4's average is 0.5647741747053443

#### 總合最小的資料

In [7]:
print(df)

          0         1         2
0  0.366289  0.189234  0.799367
1  0.293050  0.338361  0.892824
2  0.323413  0.008055  0.037459
3  0.724069  0.389815  0.483044
4  0.702950  0.340001  0.651371

In [8]:
df_sum_index={i:df.loc[i].sum() for i in df.index[:]}
print(''.join([str(i) for i in df_sum_index.keys() if df_sum_index[i] == min(df_sum_index.values())]))

2

#### 資料總合最小的欄位

In [9]:
df_sum_col={i:df[i].sum() for i in df.columns[:]}
print(''.join([str(i) for i in df_sum_col.keys() if df_sum_col[i] == min(df_sum_col.values())]))

1